.header{
    width:100%;
    max-width: 1500px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding-inline: 40px;
    background-color: #ffffff;
    gap: 2%;
    z-index: 1000;
}


.logo_section{
  
    flex: 1.5;
    /* padding-inline: 30px; */
    /* background-color: aqua; */
}

.icon_section{
    /* background-color: bisque; */
    gap: 30px;
   
    flex: 3;
}


.thirddiv{
    /* background-color: crimson; */
    flex: 1.5;
    display:flex ;
    justify-content: space-between;
    gap: 30px;
}


.profile_section{
   
text-align: center;

    font-size: var(--mainFont);
    font-weight: 500;
    display: flex;
    
    align-items: center;
}

.profile_section>img{
    width: 50px;
    border-radius: 50%;
}
.expandable_icons,.unexpandable_icons{
    
    display: flex;
   align-items: center;
   justify-content: center;
    height: 40px;
    border-radius: 40px;
    aspect-ratio: 1;
    background-color: var(--lightGrey);
    border: none;
}

.unexpandable_icons:active,.unexpandable_icons:focus{
    background-color: var(--lightGreenShade);
    color: var(--lightGreen);
    border: none;
    outline: none;
}

.expandable_icons:hover{
    display: flex;
    align-items: center;
    justify-content: center;
     height: 40px;
     border-radius: 40px;
   
     background-color: var(--lightGrey);
    aspect-ratio: auto;
    padding-inline: 10px;
    font-weight: 500;
}

.expanded_icons{
    display: flex;
   align-items: center;
   justify-content: center;
    height: 40px;
    border-radius: 40px;
    width: auto;
    background-color: var(--lightGreenShade);
    color: var(--lightGreen);
    padding-inline: 10px;
    font-weight: 500;
}

.expandableiconsgrp{
width: 300px;
   display: flex;
   justify-content: space-between;
  
  
   
}

.expandableiconsgrp>div{
    flex: 1 0 1;
}

.icon{

    padding-left: 20px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    border-radius: 5px;
    width: 60%;
    outline: none;
    border: none;
    background-color: var(--lightGrey);
    
   }