<div class="formbox" (click)="closedialog()"></div>
<div class="main">
    <button (click)="closedialog()"><i class=" fa-solid fa-close fa-1x"></i></button>
    <h4>Post what you feel</h4>
    <div class="group">
        <form [formGroup]="Createpost" class="form-label">

            <div class="text">
                <!-- <label>Content</label>&nbsp;&nbsp;<br> -->

               
                <textarea class="form-control" aria-label="With textarea" formControlName="content" placeholder="What you feel ?"></textarea>
              <br>

                <!-- <label>Communities</label>&nbsp;<br> -->
               <input type="text" class="form-control" formControlName="community" placeholder="Community">
             
<br>

                <!-- <label>Add Tags</label><br> -->
                <div class="col-auto d-flex tagarray">
                  
                    <input type="text" class="ps-2 " id="tags" placeholder="Add tags"
                        formControlName="tags">
                    <button type="button" (click)="addtags()">Add</button>
                 

                </div>
                <div *ngFor="let i of tagarray,index as ind" class="tagarraytext">
                  
                  {{ind!=tagarray.length-1?i+" , ":i}}



                </div>
              

            </div>

            
        </form>

        <button type="button" class=" w-100 mt-3   submit" (click)="submitPost()">Submit</button>
    </div>
   
</div>