

<div class="feed " id="feed" >
   
    <div class="post p-4 mb-4 " *ngFor="let  post of posts, index as i" >
        <div class="postdetails">


            <!-- headerpart -->


            <div class="posthead d-flex">
                <div class="profiledetails d-flex">
                    <img src="../../../assets/Rectangle 18mathew.png" alt="" width="60" class="me-3">
                    <div class="namebox">
                        <h5>{{post.postdetails.name}}</h5>
                        <p class="hourago">{{post.postdetails.created_at| date:'HH'}} hrs ago
                            {{post.postdetails.community?"on ":''}} <span
                                class="community">{{post.postdetails.community}}</span>
                        </p>
                    </div>
                </div>
                <div class="bookmark d-flex ">
                    <i class="fa-regular fa-bookmark me-2"></i><span>...</span>
                </div>
            </div>

            <!-- content or post -->

            <div>{{post.postdetails.showfull?post.postdetails.content.substring(0,80):post.postdetails.content}} <span
                    class="text-secondary" (click)="post.postdetails.showfull=!post.postdetails.showfull"
                    *ngIf="post.postdetails.content.length>=80">{{!post.postdetails.showfull?"
                    ...less":"...more"}}</span>
            </div>

            <span class="tags me-1 " *ngFor="let tag of post.postdetails.tags">#{{tag}}</span>
            <hr>


            <!-- like comment share -->


            <div class="share_comment_like d-flex text-secondary mb-3">
                <div class="me-3 " [style.color]="post.liked?'black':'grey'" (click)="likeFunction(i)">
                    <i [ngClass]="post.liked?'fa-solid fa-thumbs-up me-2':'fa-regular fa-thumbs-up  me-2'"></i>
                    {{post.postdetails.likes + " likes"}}
                </div>
                <div class="me-3"
                    (click)="post.fullcomment==1?post.fullcomment=post.comments.length:post.fullcomment=1 && post.comments[0].fullreply=1">
                    <i class="fa-regular fa-comment  me-2"></i> {{post.total_comments + " Comments"}}
                </div>
                <div class="me-3">
                    <i class="fa-solid fa-share-nodes  me-2"></i> {{"Share"}}
                </div>
            </div>


            <!-- comment input -->

            <div class="commentinput d-flex mb-2">
                <div class="commentimg"><img src="../../../assets/Ellipse 5sonu.png" alt=""></div>
                <form class="inputcomment" [formGroup]="CommentForm" (ngSubmit)="submitComment(post.postdetails.id)">
                    <!-- <form > -->
                    <input type="text" placeholder="Write your comment" formControlName="comment">
                    <!-- </form> -->
                </form>
                <i class="fa-solid fa-paper-plane" (click)="submitComment(post.postdetails.id)"></i>
            </div>


            <!-- comments -->

            <div class="commentsbox mb-2 " *ngFor="let com of post.comments, index as j">

                <!-- single comment -->


                <div class="d-flex singlecomment mb-3">
                    <div>
                        <img src="../../../assets/Ellipse 5sonu.png" alt="">
                    </div>
                    <div class="comment w-100">
                        <span style="text-transform: capitalize;font-weight: 600;font-size: medium;">{{com.user_email
                            + " "}}</span>
                        <span class="text-secondary " style="font-size:smaller ;">{{" "+1 + " Min"}} </span>
                        <br>
                        <!-- random() -->
                        <span class="mb-2">{{com.comments}}</span>


                        <div class="share_comment_like d-flex text-secondary mb-3 mt-2" style="font-size:small ;">
                            <div class="me-3 " [style.color]="com.commentliked?'#8cbb1e':'grey'">
                                <i (click)="CommentlikeFunction(i,j)"
                                    [ngClass]="com.commentliked?'fa-solid fa-heart me-1':'fa-regular fa-heart  me-1'"></i>
                                {{com.likes }}
                            </div>
                            <div class="me-3"
                                (click)="posts[i].comments[j].showreplybutton=!(posts[i].comments[j].showreplybutton);">
                                <i class="fa-regular fa-comment  me-1"></i> {{"reply"}}
                            </div>
                          

                        </div>
                        <div class="commentinput d-flex mb-2 " *ngIf="(posts[i].comments[j].showreplybutton)">
                            <!-- <div class="commentimg"><img src="../../../assets/Ellipse 5sonu.png" alt=""></div> -->
                            <form class="inputcomment" [formGroup]="replyForm"
                                (ngSubmit)="submitReply(com.id)">
                                <!-- <form > -->
                                <input type="text" placeholder="Reply" formControlName="reply">

                                
                                <!-- </form> -->
                            </form>
                            <i class="fa-solid fa-paper-plane" (click)="submitReply(com.id)"></i>
                        </div>

                        <!-- replys -->


                        <div *ngFor="let rep of com.replies,index as k" class="d-flex mb-2 w-100">
                            <div>
                                <img src="../../../assets/Ellipse 5sonu.png" alt="">
                            </div>
                            <div class="comment ms-2 w-100">
                                <span
                                    style="text-transform: capitalize;font-weight: 600;font-size: medium;">{{rep.user_email
                                    + " "}}</span>
                                <span class="text-secondary " style="font-size:smaller ;">{{" "+2 + " Min"}} 
                                    <!-- random() -->
                                </span><br>
                                <span><b>{{rep.replyname?"@"+ rep.replyname +" ":''}}</b>{{rep.reply}}</span>
                                <div class="share_comment_like d-flex text-secondary mb-3 mt-2"
                                    style="font-size:small ;">
                                    <div class="me-3 " [style.color]="rep.replyliked?'#8cbb1e':'grey'">
                                        <i (click)="replylikeFunction(i,j,k)"
                                            [ngClass]="rep.replyliked?'fa-solid fa-heart me-1':'fa-regular fa-heart  me-1'"></i>
                                        {{rep.likes}}
                                    </div>
                                    <div class="me-3"
                                        (click)="posts[i].comments[j].replies[k].showreplybutton=!(posts[i].comments[j].replies[k].showreplybutton)">
                                        <i class="fa-regular fa-comment  me-1"></i> {{"reply"}}
                                    </div>


                                </div>
                                <div class="commentinput d-flex mb-2"
                                    *ngIf="!(posts[i].comments[j].replies[k].showreplybutton)">
                                    <!-- <div class="commentimg"><img src="../../../assets/Ellipse 5sonu.png" alt=""></div> -->
                                    <form class="inputcomment" [formGroup]="replyForm"
                                        (ngSubmit)="submitReply(com.id,rep.replyname)">
                                        <!-- <form > -->
                                        <input type="text" placeholder="Reply" formControlName="reply">
                                        
                                        <!-- </form> -->
                                    </form>
                                    <i class="fa-solid fa-paper-plane" (click)="submitReply(com.id,rep.replyname)"></i>
                                </div>

                                <div class="me-3 text-secondary" *ngIf="k==com.replies.length-1"
                                (click)="getrepliesfull(com.id)">
                                
                                <b>{{com.id}} load more replies</b>
                            </div>
                            </div>
                        </div>
                        

                    </div>


                </div>





            </div>

        </div>
        <button class="viewallcomments"
        *ngIf=" post.comments.length<post.total_comments"    (click)="getcommentsfull(post.postdetails.id)" >
            <!-- (click)="post.postdetails.fullcomment==1?post.postdetails.fullcomment=0:post.postdetails.fullcomment=1 && post.comments[0].fullreply=1" -->

        

           load more comments
        </button>


    </div>
</div>