<div class="body" *ngif="is_loading">
    
        <div class="parent">
            <div style="--n:1"></div>
            <div style="--n:2"></div>
            <div style="--n:3"></div>
            <div style="--n:4"></div>
            <div style="--n:5"></div>
            <div style="--n:6"></div>
            <div style="--n:7"></div>
            <div style="--n:8"></div>
            <div style="--n:9"></div>
            <div style="--n:10"></div>
            <div style="--n:11"></div>
            <div style="--n:12"></div>
            <div style="--n:13"></div>
            <div style="--n:14"></div>
            <div style="--n:15"></div>
            <div style="--n:16"></div>
            <div style="--n:17"></div>
            <div style="--n:18"></div>
            <div style="--n:19"></div>
         
          
        </div>
    
</div>