*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --largeFont:24px;
    --mainFont:20px;
    --subFont:17px;
    --smallFont:14px;

    --lightGreen:#8cbb1e;
    --lightGreenShade:#91c0243a;
    --lightGrey:#426c6e1e;
    --lightlightgrey:rgba(0, 0, 0, 0.25);
    --borderradius:10px;
}

body{
    background-color: var(--lightGrey);
    scroll-behavior: smooth;
   
}

::-webkit-scrollbar{
    display: none;
}