<div class="announcementarea ps-4 pe-4 p-2">
    <div class="subdivisions">
        <h3 class="mb-4 mt-1">Announcements <i class="fa-solid fa-bullhorn ms-3"></i></h3>

        <div class="content mt-4" *ngFor="let announcement of announcementdata">
            <div class="h5">{{announcement.community}}</div>
            <span>{{announcement.created_at|date:'dd-MM-yyyy'}}</span>
            <div class="h6 mt-2">{{!showFull?announcement.contentString.substring(0,100):announcement.contentString}} <span
                    class="text-light" (click)="showFull=!showFull"
                    *ngIf="announcement.contentString.length>=100">{{showFull?"
                    ...less":"...more"}}</span>
            </div>
        </div>


    </div>

    <!-- community -->


    <div class="subdivisions">
        <h3 class="mb-4 mt-1">Community <i class="fa-solid fa-users ms-3"></i> </h3>

        <div class="communitySubdivision mb-3">
            <div class="communityname">
                <img src="../../../assets/Ellipse 7.png" alt=""><span>TNP India</span>
            </div>
            <div class="membercount">435+</div>
        </div>

        <div class="communitySubdivision mb-3">
            <div class="communityname">
                <img src="../../../assets/Ellipse 8.png" alt=""><span>Digital_Team</span>
            </div>
            <div class="membercount">435+</div>
        </div>

        <div class="communitySubdivision mb-3">
            <div class="communityname">
                <img src="../../../assets/Ellipse 9.png" alt=""><span>Team_Metaverse</span>
            </div>
            <div class="membercount">435+</div>
        </div>


    </div>


    <!-- upcoming events -->

    <div class="subdivisions">
        <h3 class="mb-4 mt-1"> Upcoming Events <i class="fa-regular fa-calendar ms-3"></i></h3>

        <div class="eventslist mt-4" [style.background]="color[0]" *ngFor="let events of Upcomingeventdetails">
          <!-- random() -->
            <div class="upcomingevents">
                <div class="eventname">{{events.community}} <br> <span> {{events.content}}</span></div>

                <div class="eventdesc">{{!showFull?events.contentString.substring(0,30):events.contentString}} <span
                        class="text-light" (click)="showFull=!showFull"
                        *ngIf="events.contentString.length>=30">{{showFull?"
                        ...less":"...more"}}</span>
                </div>
            </div>
            <div class="date">
                <h5>{{events.event_date.substring(8)}}</h5>
                <p>{{monthselector(events.event_date.substring(5,7))}}</p>
            </div>
        </div>







    </div>
</div>